hr {
    color: #DEB6AB;
    border-style: dotted none none none;
    border-width: 2px;
    font-size: 60px;
}

body {
    background-color: #FEF2F4;
}

h3 {
    color: #AC7D88;
}

h1 {
    color: #85586F
}